/train_dataset
/results*
/yolov5_cfg/*.pt
/yolov5
/documendation
/*.log
/venv
/*.pyc
/**/*/__pycache__
__pycache__/
*.py[cod]
Arial.ttf
/resized_dataset
ignoreFolder/
dataset/
src/archive
dataset_test/
.gitlab-ci.yml_*
.logs/
/dataset
runs/
yolov*
yolov5_cfg/
dataset.dvc

